.pointer {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid black;
}

.modal #modal__close {
    width: 30px;
    height: 30px;
    background-color: red;
}